body {
  background-color: #F8EEEE;
}

h1 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;

}

p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 20px;
  background-color: #8080a7;
  margin-top: 80px;


}

#eat-button:hover {
  font-size: 12px;
  background-color:#efc8ae;
  animation-name: btnChange;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;



}


#sleep-button:hover {
  font-size: 12px;
  background-color: #AEEFEC;
  animation-name: btnChange3;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;


}

#play-button:hover {
  font-size: 12px;
  background-color: #b7b7ef;
  animation-name: btnChange2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



/* ID SELECTORS */

#character {
  z-index: 4;
  position: absolute;
  bottom: 50px;
  right: 300px;


}


#character2 {
  z-index: 3;
  position: absolute;
  bottom: 50px;
  right: 300px;




}

#character3 {
  z-index: 2;
  position: absolute;
  bottom: 50px;
  right: 300px;




}

@keyframes btnChange {
  from {background-color: #b7efae;}
  to {background-color: #efb7ae;}


}

@keyframes btnChange2 {
    from {background-color: #efe2ae; }
    to {background-color: #efaedf;}

}

@keyframes btnChange3 {
    from {background-color: #7aa7a7; }
    to {background-color: #efecae;}

}



/* This is the used to make the opacity of the imag change on the clickEvent listner */
/* #awake, #sleep {
  position: absolute;
  top: 0;
  left: 0;



} */


/* CLASS SELECTORS */
.flex-container {
  display: flex;
   height: 100%;
   align-items: flex-start;
   background-color: #8080a7;
   border-radius: 12px;


}

.left-view {
  background-color: #f1f1f1;
  width: 33%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 40px;
  height: 808.51px;

}


.right-view {
  background-color: #f1f1f1;
  width: 66%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  /* height: 100vh; */
  border-radius: 40px;
  /* position: relative; */


}

/* IMSGR */
#awake {
  opacity:100%;

}

#background-sleep {
  opacity: 0;
}

.background-image {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: auto;
    height: 650px;
    padding-top: 20px;


}



.image1 {
  position: relative;
  width: 500px;
  /* background-repeat: no-repeat;
  background-position: center; */
  z-index: 1;
  margin: 0 auto;
  height: 700px;
  /* background-color: red; */



}


/* .image2 {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  left: 250px;

} */
